html {
    scroll-behavior: smooth;
}

body{
    background-color: rgb(231, 231, 231);
    height:100%;
    width: 100%;
    margin: 0px;
    font-family: sans-serif;
}

.container{
    margin-left:50px;
    margin-right:50px;
}

/*#region header*/
.header {
    background: rgb(30, 30, 30);
}

.header input[type = "text"]{
    margin-left: 50px;
    text-align: center;
    color: rgb(30, 30, 30);
    background: rgb(230,230,230);
    border: 1px solid rgb(50, 50, 50);
    height : 30px;
    caret-color: rgb(200, 46, 46);
}

.header input::placeholder{
    color: rgb(196, 107, 107);
}

.headerR{
    padding-top: 7px;
    padding-right: 50px;
    float: right;
}

.headerR a{
    color: rgb(200, 200, 200);
    text-decoration: none;
    font-size: 14px;
}
/*#endregion*/


/*#region logoBar*/

.logo{
    margin-bottom: 50px;
}

.logoBar{
    margin-top: 30px;
    margin-left: 50px;
}

.logoBar img{
    float: left;
    justify-content: center;
    margin-right: 30px;
    margin-top: 10px;
    width:250px;
    height:80px;
}

.logoSub{
    margin-left: 50px;
    margin-right: 50px;
}

.logoSub h1{
    padding-top: 5px;
    font-size: 20px;
    color: rgb(20, 20, 20)
}

.logoSub p{
    font-size: 14px;
    color: rgb(30, 30, 30);
}

/*#endregion*/


/*#region navBar*/
.topnav {
    display : flex;
    height: 50px;
    background-color: rgb(30, 30, 30);
    border-color: rgb(30, 30, 30);
}

.topnavSub{
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.topnavSub a {
    margin-left: 20px;
    color: rgb(230, 230, 230);
    text-align: center;
    text-decoration: none;
    padding: 14px 14px;
    font-size: 18px;
}

.topnavSub a:hover {
    background-color: rgb(200, 46, 46);
    color: rgb(230,230,230);
    text-decoration: underline;
    text-decoration-color: rgb(200, 200, 200);
}


/*#endregion*/


/*#region Reactive Component*/
@media only screen and (max-width: 768px) and (min-width: 400px) {
    
    .logo{
        margin-bottom: 20px;
    }
    
    .logoBar{
        display:flex;
        margin-left: 0px;
    }
    
    .logoBar img{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    .logoSub{
        text-align: center;
    }
    
    .topnavSub a{
        margin-left: 10px;
        font-size: 16px;
    }
    
}


/*#endregion*/

section{
    width:100%;
    height:auto;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
}

.productImageHeader {
    display: flex;
    overflow: scroll;
    margin-bottom: 20px;
}

.productCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  height: 350px;
  margin: 30px;
  text-align: center;
  font-family: arial;
}

.more img{
    height:350px;
    width:100px;
    text-align: center;
}

.productImageHeader .productCard img {
    width: auto;
    height: 200px;
}


.newsCard {
    width:400px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 30px;    
}

.productImageHeader .newsCard img {
    width: 300px;
    height:100%;
}

.moreNews img{
    height:200px;
    width:100px;
    text-align: center;
}

.cen{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

.service{
    display: inline-block;
    width: calc(100% / 3);
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
}

.service:hover{
    background-color: #ddd;
}

.service i{
    color: rgb(200, 46, 46);
    font-size: 34px;
    margin-bottom: 30px;
}

.service h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}

.service p{
    color: grey;
    font-size: 15px;
    font-weight: 500;
}

.service i{
    color: rgb(200, 46, 46);
    font-size: 34px;
    margin-bottom: 30px;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
     background-color: rgb(30, 30, 30);
     color: rgb(100, 100, 100);
    /*text-align: center;*/
 }
 
 
 .grid-container {
     display: grid;
    /* grid-column-gap: 20px;*/
     grid-template-columns: auto;
     background-color:  rgb(30, 30, 30);
    /* padding: 10px;*/
 }
 
 .grid-item {
     background-color: transparent;
    /* border: 1px solid rgba(0, 0, 0, 0.8);*/
     padding: 0px;
     width: 100%;
     font-size: 14px;
     text-align: center;
 }
 
 .grid-item img{
     padding-left: 5px;
 }
 
/*For footer responsive*/
@media only screen and (min-width: 500px){
    
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid-item{
        width: auto;
        padding: 20px;
    }

    .grid-item:nth-child(even){
        padding-top:19px;
    }

}

@media only screen and (max-width: 500px){
    
    .logo{
        margin-bottom: 10px;
    }
    
    .topnavSub a{
        margin-left: 0px;
        padding: 10px 10px;
        font-size: 14px;
    }

    .service{
        width:100%;
    }

}


