body{
    background-color: rgb(231, 231, 231);
    height:100%;
    width: 100%;
    margin: 0px;
    font-family: sans-serif;
}

/*#region header*/
.header {
    background: rgb(30, 30, 30);
}

.header input[type = "text"]{
    margin-left: 50px;
    text-align: center;
    color: rgb(30, 30, 30);
    background: rgb(230,230,230);
    border: 1px solid rgb(50, 50, 50);
    height : 30px;
    caret-color: rgb(200, 46, 46);
}

.header input::placeholder{
    color: rgb(196, 107, 107);
}

.header btn{
    color: rgb(230,230,230);
}

.headerR{
    padding-top: 7px;
    padding-right: 50px;
    float: right;
}

.headerR a{
    color: rgb(200, 200, 200);
    text-decoration: none;
    font-size: 14px;
}
/*#endregion*/


/*#region logoBar*/

.logo{
    margin-bottom: 50px;
}

.logoBar{
    margin-top: 10px;
    margin-left: 50px;
}

.logoBar img{
    float: left;
    justify-content: center;
    margin-right: 30px;
    width:auto;
    height:auto;
}

.logoSub{
    margin-left: 50px;
    margin-right: 50px;
}

.logoSub h1{
    padding-top: 5px;
    font-size: 20px;
    color: rgb(20, 20, 20)
}

.logoSub p{
    font-size: 14px;
    color: rgb(30, 30, 30);
}

/*#endregion*/


/*#region navBar*/
.topnav {
    display : flex;
    height: 50px;
    background-color: rgb(30, 30, 30);
    border-color: rgb(30, 30, 30);
}

.topnavSub{
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.topnavSub a {
    margin-left: 20px;
    color: rgb(230, 230, 230);
    text-align: center;
    text-decoration: none;
    padding: 14px 14px;
    font-size: 18px;
}

.topnavSub a:hover {
    background-color: rgb(200, 46, 46);
    color: rgb(230,230,230);
    text-decoration: underline;
    text-decoration-color: rgb(200, 200, 200);
}


/*#endregion*/



/*#region Reactive Component*/
@media only screen and (max-width: 768px) and (min-width: 400px) {
    
    .logo{
        margin-bottom: 20px;
    }
    
    .logoBar{
        display:flex;
        margin-left: 0px;
    }
    
    .logoBar img{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    .logoSub{
        text-align: center;
    }
    
    .topnavSub a{
        margin-left: 10px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px){
    
    .logo{
        margin-bottom: 10px;
    }
    
    .topnavSub a{
        margin-left: 0px;
        padding: 10px 10px;
        font-size: 14px;
    }
}
/*#endregion*/